<div class="graph" id="<%= container %>">
  <script type="text/javascript">
    $.getJSON('<%= errorsgraph_team_url(team, :format => :json, :container => container, :title => "Errors Per Game") %>', function(data) {new Highcharts.Chart(data)})
  </script>
</div>
