<h1>Your Teams</h1>

<% @teams.each_with_index do |team,index| %>
  <div class="team">
    <%= team.name %>
    <%= link_to "->", team %>
  </div>
<% end %>

<%= link_to 'New Team', new_team_path, :id => "new-team" %>
