html {
  position: relative;
  min-height: 100%;
  font-size: medium;
}

body {
  padding: 0;
  margin: 0;
  background-color: #eee;
}

.content {
  width: 90%;
  padding: 5%;
}

header.site-header {
  border-bottom: 2px solid #555;
  margin: 0;
  padding: .5em;
  box-shadow: 0 0 .5em .5em rgba(0,0,0,.5);
  position: relative;
  text-align: center;
  background-color: #888;
}

header form {
  display: inline-block;
}

div.site-info {
  position: absolute;
  left: .5em;
  top: .5em;
}

div.nav-items {
  display: inline-block;
}

footer {
  bottom: 5px;
  left: 0px;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 1);
  background-color: white;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  box-shadow: 0 0px 5px 5px rgba(0,0,0,.5);
}

footer div.inside {
  margin: 10px;
}

.footer-view-info {
  display: inline;
}

a:link {
  text-decoration: none;
  padding: .25em;
  background-color: #666;
  border: outset 2px #555;
  color: white;
  text-align: center;
}

a:visited {
  text-decoration: none;
  padding: .25em;
  background-color: #666;
  border: outset 2px #555;
  color: white;
  text-align: center;
}

ul {
  padding-left: 0;
}

li {
  display: block;
}

h1 {
  font-size: larger;
  text-align: center;
  border-bottom: 1px solid #333;
}

h2 {
  font-size: large;
  text-align: center;
  border-bottom: 1px solid #444;
}

a.color1 {
  background-color: #aaa;
}
a.color2 {
  background-color: #333;
}
a.color3 {
  background-color: #666;
}
a.color4 {
  background-color: #999;
}
a.color5 {
  background-color: #666;
}
a.color6 {
  background-color: #444;
}
a.color7 {
  background-color: #aaa;
}
a.color8 {
  background-color: #333;
}
a.color9 {
  background-color: #666;
}
a.color10 {
  background-color: #444;
}
