html {
  position: relative;
  min-height: 100%;
  font-size: medium;
  font-family: ubuntu, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.content {
}

header.site-header {
  margin: 0;
  position: relative;
  text-align: center;
  background: -webkit-linear-gradient(#738abb, #2c4986);
  display: -webkit-flex;
}

header.site-header a {
  background: none;
  border: none;
  color: white;
}

header form {
  display: inline-block;
}

div.site-info {
  display: -webkit-flex;
  -webkit-flex: 0;
  white-space: nowrap;
}

div.nav-items {
  display: -webkit-flex;
  -webkit-flex: 1;
}

div.nav-items a.nav-link {
  -webkit-flex: 1;
}

.user-info {
  text-align: center;
  margin: 1em;
}
  
footer {
}

a:link {
  text-decoration: none;
  padding: .25em;
  background-color: #ccc;
  border: outset 2px #ccc;
  color: black;
  text-align: center;
}

a:visited {
  text-decoration: none;
  padding: .25em;
  background-color: #ccc;
  border: outset 2px #ccc;
  color: black;
  text-align: center;
}

ul {
  padding-left: 0;
}

li {
  display: block;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}

h2 {
  font-size: large;
  text-align: center;
  border-bottom: 1px solid #444;
}

.color1 {
  background-color: #aaa;
}
.color2 {
  background-color: #333;
  color: white;
}
.color3 {
  background-color: #666;
}
.color4 {
  background-color: #999;
}
.color5 {
  background-color: #666;
}
.color6 {
  background-color: #444;
}
.color7 {
  background-color: #aaa;
}
.color8 {
  background-color: #333;
}
.color9 {
  background-color: #666;
}
.color10 {
  background-color: #444;
}

.alt-color1 {
  background-color: rgb(159,159,226);
}
.alt-color2 {
  background-color: #9acffc;
}
.alt-color3 {
  background-color: #ff8a8a;
}

.graph {
  text-align: center;
}

.form-table {
  width: 100%;
}

.form-table tr > td > * {
  width: 100%;
}
