// Place all the styles related to the Lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_line {
  font-size: x-large;
}

.new_line label {
  display: block;
}

.new_line .game-info {
  display: -webkit-flex;
}

.game-info input.hide {
  display: none;
}

.game-info .game-info-item {
  font-size: 1.25em;
  border: none;
  margin: 0;
  padding: .25em;
  text-align: center;
  -webkit-flex: 1;
}

.player-box {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}

.player-box input.hide {
  display: none;
}
  
.player-box .player {
  -webkit-flex: 1 1 100px;
  padding: .25em;
  margin: 1px;
  text-align: center;
}

.submit-box {
  display: -webkit-flex;
}
 
.submit-box .submit-btn {
  font-size: 1.15em;
  -webkit-flex: 1;
  border: 0;
  padding: .25em;
}
