// Place all the styles related to the Lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_line {
  font-size: large;
}

.new_line label {
  display: block;
}

.new_line .game-info {
  display: -webkit-flex;
}

.game-info input.hide {
  display: none;
}

.game-info .game-info-item {
  font-size: 1.25em;
  border: none;
  margin: 0;
  padding: .25em;
  text-align: center;
  -webkit-flex: 1;
}

.player-box {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}

#player-box-title .nav {
  position: absolute;
  right: 1em;
}

#player-box-title.open .nav-opened {
  display: inline;
}
#player-box-title.open .nav-closed {
  display: none;
}
#player-box-title.close .nav-opened {
  display: none;
}
#player-box-title.close .nav-closed {
  display: inline;
}

.player-box input.hide {
  display: none;
}
  
.player-box .player {
  -webkit-flex: 1 1 100px;
  padding: .25em;
  margin: 1px;
  text-align: center;
  font-size: 1.25em;
}

.submit-box {
  display: -webkit-flex;
}
 
.submit-box .submit-btn { 
  font-size: 1.15em;
  -webkit-flex: 1;
  border: 0;
  padding: .25em;
}

.submit-box .submit-btn.just-clicked, .undo-btn.just-clicked {
  border: solid 1px blue;
}

.active-players-table {
  width: 100%;
}

.active-player td {
  border-bottom: solid 1px #ccc;
}

.active-player .name {
  padding-left: 1em;
}

.stat {
  text-align: center;
  border-radius: 8px;
  width: 20%;
}

.stat > input {
  background: none;
  border: none;
  text-align: center;
  width: 2em;
}
