// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form {
  margin: 1em;
}

.new-user-link {
  text-align: center;
}

.new-user-link a {
  width: 50%;
  display: inline-block;
}

.seperator {
  text-align: center;
  margin: 1em;
}
