// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a#new-team {
  width: 50%;
  margin-top: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: .5em;
}

.teams {
  font-size: large;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  width: 100%;
}

.teams a {
  -webkit-flex: 1;
  margin: .25em;
}

.team .destroy {
  float: right;
}

.new_team, .edit_team {
}

.new_team label, .edit_team label { 
  width: 150px;
  display: inline-block;
}

.new_team input[type=text] {
  font-size: 20px;
}

.new_team input[type=submit] {
  padding: 5px;
  font-size: 25px;
  border-radius: 5px;
  border: solid 1px #555;
}

.team-links {
  text-align: center;
}

.new_team {
  margin: 1em;
}
