<div class="depot_form" >
  <% if flash[:alert] %>
    <p id="notice" ><%= flash[:alert] %></p>
  <% end %>

  <h1>Log In</h1>
  <%= render 'form' %>
  <div class="new-user-link>
    <%= link_to "New User", new_user_path %>
  </div>
</div>
