<script id="player-view" type="text/template">
  <label class="name" active="<%%= active %>"><%%= name %></label>
</script>
<script id="active-players" type="text/template">
  <h2>On Field</h2>
  <table class="active-players-table">
    <thead>
      <tr><td class="name"></td><td class="stat">Throw Away</td><td class="stat">Drop</td><td class="stat">Take Away</td></tr>
    <thead>
    <tbody>
    </tbody>
  </table>
</script>
<script id="active-player-view" type="text/template">
  <td class="name"><%%= name %></td>
  <td class="stat color1">
    <input class="throwaway" type="text" readonly=true value="<%%= throwaway %>" name="line[line_players][<%%=player_id%>][throwaway]"/>
  </td>
  <td class="stat color1">
    <input class="drop" type="text" readonly=true value="<%%= drop %>" name="line[line_players][<%%=player_id%>][drop]"/>
  </td>
  <td class="stat color1">
    <input class="takeaway" type="text" readonly=true value="<%%= takeaway %>" name="line[line_players][<%%=player_id%>][takeaway]"/>
  </td>
</script>
