<div class="graph" id="<%= container %>">
  <script type="text/javascript">
    $.getJSON('<%= graph_game_url(game, :format => :json, :container => container) %>', function(data) {new Highcharts.Chart(data)})
  </script>
</div>
