    <div>
      <h3>Game <%= index + 1 %>: <%= link_to game.description, game_path(game) %></h3>
      <div class="score"><span class="us"><%= game.our_score %></span> - <span class="them"><%= game.their_score %></span></div>
    </div>
