    <div class="full-game-info">
      <%= render 'games/game_info', :game => @game %>
      <h2>Player Statistics</h2>
      <%= render 'players/stats_table', :players => @game.team.players, :game_id => @game.id %>
    </div>
