<div class="graph" id="graph-player-<%= player.id %>">
  <script type="text/javascript">
    $.getJSON('<%= graph_player_url(player, :format => :json, :container => "graph-player-#{player.id}") %>', function(data) {new Highcharts.Chart(data)})
  </script>
</div>
