<div id="promo" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#promo" data-slide-to="0" class="active"></li>
    <li data-target="#promo" data-slide-to="1"></li>
    <li data-target="#promo" data-slide-to="2"></li>
    <li data-target="#promo" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="active item"> 
      <h2>Improve your game</h2>
      <img src="layout.png" alt="Disc Layout" class="default" />
      <ul>
        <li>Statistics per player and for the whole team.</li>
        <li>Monitor performance over time.</li>
        <li>Free and easy to use.</li>
      </ul>
    </div>
    <div class="item"> 
      <h2>Easy To Use</h2>
      <img src="mobileview.png" alt="Mobile View" />
      <ul>
        <li>Update from your phone.</li>
        <li>Focused on statistics that are important.</li>
        <li>Free!</li>
      </ul>
    </div>
    <div class="item"> 
      <h2>Player Statistics</h2>
      <img src="playerstats.png" alt="Player Stats" />
      <ul>
        <li>Point +/- for offense, defense, and over all.</li>
        <li>Average point duration.</li>
        <li>How do your players do as the point drags on?</li>
      </ul>
    </div>
    <div class="item">
      <h2>Team Statistics</h2>
      <img src="teamstats.png" alt="Team Stats" />
      <ul>
        <li>Also view these stats for the whole team.</li>
        <li>All statistics shown over time.</li>
      </ul>
    </div>
  </div>
  <a class="carousel-control left" href="#promo" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#promo" data-slide="next">&rsaquo;</a>
</div>
