<footer>
  <div class="inside">
    Ultimate Stats - <a href="http://www.zacherytillotson.com">Zack Tillotson</a> (c) 2013

    <span class="footer-view-info">
      <% if is_mobile_request? %>
        Mobile view
      <% elsif request_device?(:iphone) or request_device?(:android) %>
        Desktop view
      <% end %>
    </span>

  </div>
</footer>
