  <header class="site-header">

    <div class="site-info">
      <a href="/">Ultimate Stats</a>
    </div>

    <div class="nav-items">
      <a href="/">U</a>
      <a href="/teams">T</a>
    </div>

  </header>
