  <header class="site-header">

    <div class="site-info">
      <a href="/">Ultimate Stats</a>
    </div>

    <div class="nav-items">
      <% if @team %>
        <%=link_to @team.name, team_path(@team), :class => "nav-link" %>
      <%end%>
      <% if @game %>
        <%=link_to @game.description, game_path(@game), :class => "nav-link" %>
      <%end%>
    </div>


  </header>
