<div class="user-info">
  <% if session.has_key?(:user_id) %>
    <span class="user">Welcome <%= @user.name %>!</span>
    <%=button_to "Logout", logout_path, :method => 'delete' %>
  <% elsif request.fullpath != login_path %>
    <%=link_to "Register or Log In", new_user_path, :method => 'get' %>
  <% end %>
</div>

<div>
  I'm selling it!
</div>
