<div class="bg"></div>
<div class="how-to">
  <ul>
    <li>Track your team's record</li>
    <li>Easy to use</li>
    <li>Gain insight over time</li>
    <li>See individual's performance</li>
  </ul>
</div>
<div class="fp-link">
  <% if !@user %>
    <%= link_to "Sign Up", new_user_path, :class => "link" %>
  <% else %>
    <%= link_to "Teams", teams_path, :class => "link" %>
  <% end %>
</div>
