<div class="bg"></div>
<div class="how-to">
  <ul>
    <li>Track your team's record</li>
    <li>Easy to use</li>
    <li>Gain insight over time</li>
    <li>See individual's performance</li>
  </ul>
</div>
<div class="fp-link">
  <%= link_to "New Team", new_team_path, :class => "link" %>
  <%= link_to "Existing Teams", teams_path, :class => "link" %>
</div>
