<div class="tagline">Understand Your Ultimate Team!</div>
<div class="subtagline">Track player and team stats from your phone.</div>

<div class="user-info">
  <% if session.has_key?(:user_id) and @user %>
    <div class="join-free">
      <div class="join-free-question">Welcome <%= @user.name %>!</div>
      <%=link_to "Logout", logout_path, :method => 'delete' %>
    </div>
  <% else %>
    <div class="join-free">
      <div class="join-free-question">Join Free</div>
      <%=link_to "Sign Up", new_user_path, :method => 'get' %>
    </div>
    <div class="sign-in">
      <div class="sign-in-question">Already have an account?</div>
      <%=link_to "Sign in", login_path, :method => 'get' %>
    </div>
  <% end %>
</div>

