/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 0px;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header {
  font-size: 30px;
  background-color: rgba(220, 220, 220, .8);
  border-bottom: solid 3px black;
  margin-bottom: 10px;
  padding: 10px 0 10px 20px;
}

.content {
  padding: 15px;
}

.how-to {
  width: 600px;
  padding: 0px 30px;
  margin: 30px;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 8px;
  border: solid 2px #555;
  margin-left: auto;
  margin-right: auto;
}

.how-to ul {
  font-size: 40px;
  line-height: 50px;
}

.fp-link {
  width: 600px;
  padding: 30px;
  margin: 30px;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 8px;
  border: solid 2px #555;
  margin-left: auto;
  margin-right: auto;
}

.fp-link a:link {
  font-size: 40px;
  line-height: 40px;
  display: block;
}

header form {
  display: inline-block;
  float: right;
  font-size: 15px;
  margin-right: 20px;
}
