/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 0px;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /*background-color: #F2F2F2;*/
  background: url('/bg.png') repeat-x white;
}

.bg:after {
  content: ' ';
  background-color: #26FF79;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 1px;
  box-shadow: 0 -5px 15px 25px rgba(38,255,120,.5);
}

.content {
  padding: 15px;
  margin: 20px auto;
  width: 960px;
  padding: 20px 30px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, .8);
  border: solid 2px #555;
}

.how-to {
  font-size: 20px;
  margin: 20px auto;
  width: 600px;
}

.how-to .big {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  vertical-align: middle;
}

.how-to img {
  width: 200px;
  height: 150px;
  margin: 10px;
  vertical-align: middle;
}

.how-to .small {
  display: block;
  margin: 0 30px;
}

.fp-link {
  width: 600px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
}

.fp-link a:link {
  font-size: 40px;
  line-height: 40px;
  display: block;
  padding: 20px;
}

header {
  font-size: 30px;
  background-color: rgba(255, 255, 255, 1);
  border-top: 2px solid#555;
  border-bottom: 2px solid #555;
  margin: 1px 0px 10px 0px;
  padding: 10px 0px 10px 20px;
  box-shadow: 0 0px 5px 5px rgba(255,255,255,.5);
  position: relative;
}

header form {
  display: inline-block;
}

div.user-info {
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  right: 20px;
  top: 18px;
}
