// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.game {
  font-size: 30px;
}

.big-score {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.short {
  font-size: 20px;
  border: solid 1px #ccc;
  border-radius: 5px;
  margin: 1px;
}

.short .winning {
  background-color: #9ACFFC;
}

.short .losing {
  background-color: #FF8A8A;
}

.short .winning, .short .losing {
  display: inline-block;
  padding: 5px 10px;
  border: solid 1px black;
  border-radius: 5px;
}

.short a:link {
  text-decoration: none;
  color: #222;
}

.short a:hover {
  text-decoration: underline;
  background-color: #fff;
}

.short .name {
  width: 400px;
  display: inline-block;
}

.short .score {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  width: 30px;
  display: inline-block;
  overflow: none;
}

.full-game-info {
  margin-bottom: 20px;
}

.new_game {
  font-size: 25px;
}

.new_game label, .new_game input {
  display: inline;
}

.player-box {
  text-align: center;
}

.link.review {
  float: right;
}
