.carousel {
  position: relative;
  line-height: 1;
}

.carousel ol.carousel-indicators { 
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
  margin: 0;
  list-style: none;
}

.carousel ol.carousel-indicators li { 
  display: block;
  float: left;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 15px;
  border: solid 1px #666;
}

.carousel ol.carousel-indicators li.active { 
  background-color: #666;
  border: solid 1px #000;
}

.carousel div.item img {
  z-index: -999;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

.carousel div.item h2 {
  position: absolute;
  top: 10px;
  left: 20px;
  font-weight: bold;
  font-size: 60px;
  color: black;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0.80);
  border-radius: 15px;
  border: solid 2px #666;
  padding: 15px;
}

.carousel div.item ul {
  position: absolute;
  bottom: 10px;
  left: 100px;
  font-size: 30px;
  color: black;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0.80);
  border-radius: 15px;
  border: solid 2px #666;
  padding: 15px;
  list-style-position: inside;
}
