<div class="bg"></div>
<div class="how-to">
  <ul>
    <li>Track your team's record.</li>
    <li>Easy to use.</li>
    <li>Record every line.</li>
    <li>Gain insight using powerful statistics.</li>
  </ul>
</div>
<div class="link">
  <%= link_to "New Team", new_team_path%>
  <%= link_to "Existing Teams", teams_path %>
</div>
